[2012-04-02 18:10] mpapis opened #1 "remove the readme checkbox"

[2012-04-02 18:10] mpapis opened #2 "use regstered installbuilder for final build"

[2012-04-12 09:12] mpapis commented on #1
fixed with [0.9.9](https://rvm.io/src/RailsInstaller-0.9.9-osx-10.7.app.tgz)

[2012-04-12 09:12] #1 closed, assigned to mpapis

[2012-04-12 09:13] mpapis commented on #2
I have used the `--license` command line switch but it did not worked :(

[code]

[2012-04-13 18:34] mpapis commented on #2
we got new license <3

[2012-04-13 18:34] #2 closed, assigned to wayneeseguin

[2012-07-11 14:56] emachnic opened #3 "Build OSX 10.8 compatible version"
Right now, the installer exits when trying to install on OSX 10.8 with the message "The installer was build only for OSX 10.7, exiting now."

This issue is to make sure the build is compatible with the next version of OSX.

[2012-07-11 22:49] mpapis commented on #3
I got reports everything from 10.7 should work fine on 10.8, I will build a test version for 10.8 when I get back home, possibly next week.

[2012-07-12 18:34] Soleone opened #4 "Use rbenv instead of rvm on OSX"
From my experience the new standard ruby version manager seems to be `rbenv` which is considered cleaner and less hacky than `rvm`.

Feel free to mark this ticket as invalid if you don't agree.

[2012-07-12 23:22] mpapis commented on #4
Indeed it is invalid, as maintainer of RVM I have in depth knowledge of it and I can provide a lot better support for **Railsinstaller for OSX** with RVM.

[2012-07-12 23:22] #4 closed, assigned to mpapis

[2012-07-18 00:49] clakeb commented on #3
I am also getting this error on 10.8 golden master.

[2012-07-18 15:14] ghost commented on #3
I tried building myself but I got

...
  [✔] ncurses 5.9 ~ dependencies
  [✔] ncurses 5.9 ~ fetch

FAIL(paths): Path '/opt/sm/src/ncurses-5.9' does not exist.

[2012-07-18 17:32] mpapis commented on #3
@Dan2552 it looks like the url for source was changed, it should work after:

[code]

[2012-07-19 03:25] cczona commented on #3
Will you be posting a RailsInstaller-osx-10.8.app.tgz now that this issue has been resolved?  Or holding off until the official Mountain Lion release?

[2012-07-19 03:28] mpapis commented on #3
I have created a build allowing to run the 10.7 on 10.8, I know most of the components should just work - but I do not have 10.8 to test it, I would appreciate if someone could check it:

https://rvm.io/src/RailsInstaller-1.0.1-osx-10.7.app.tgz

[2012-07-19 08:24] ghost commented on #3
Right near the end I get

[code]

Otherwise, rails appears to be installed :)

[code]

I'm going to do a wipe anyway later and try again on a clean install. I have no idea if anything I've done could be affecting it.

update: same result on a completely clean install

[2012-07-19 14:59] mpapis commented on #3
I was checking this on osx system, maybe I missed something, there is other hack I can use, I will try to provide a test build in hour or two

[2012-07-19 18:57] mpapis commented on #3
the new builds with fix for the above issue:

https://rvm.io/src/RailsInstaller-1.0.2-osx-10.6.app.tgz
https://rvm.io/src/RailsInstaller-1.0.2-osx-10.7.app.tgz

10.7 should also be working on OSX 10.8

[2012-07-20 19:22] ghost commented on #3
I can confirm the new builds work, no errors on installation

[2012-07-20 22:41] mpapis commented on #3
@emachnic final confirmation for 10.8 ? or just release to github?

[2012-07-21 03:27] emachnic commented on #3
@mpapis I don't have 10.8 so can't test yet. Can either wait until that comes out and I can verify but I don't have a problem releasing if @Dan2552 confirmed it worked

[2012-07-21 03:39] sini commented on #3
@emachnic I'm installing it right now -- I'll confirm if it works on 10.8 in a few minutes.

[2012-07-21 03:45] sini commented on #3
Confirmed.

[2012-07-26 03:07] derfarg commented on #3
Confirmed! https://rvm.io/src/RailsInstaller-1.0.2-osx-10.7.app.tgz works right!

[2012-07-27 00:59] cczona commented on #3
1.0.7 is giving me the "This installer was build only for OSX 10.7, exiting now." error with Mountain Lion

[2012-07-27 01:08] mpapis commented on #3
the one from railsinstaller.org or:
https://rvm.io/src/RailsInstaller-1.0.2-osx-10.6.app.tgz
https://rvm.io/src/RailsInstaller-1.0.2-osx-10.7.app.tgz
I thought this one fixes it: e791e9f?

[2012-07-27 04:52] saeedjabbar commented on #3
The one from railsinstaller.org/ I can confirm it gives that error as well and is not compatible with 10.8.  The rvm.io version does work.

Lion's security has also blocked it by default from installing because its not from the appstore or by an authorized apple dev so you will have to disable this in security.

[2012-07-27 06:09] cczona commented on #3
Ah-ha.  EngineYard needs to update their website.

RailsInstaller-1.0.1-osx-10.7.app.tgz (RailsInstaller.org; fails)
RailsInstaller-1.0.2-osx-10.7.app.tgz (rvm.io; success)

[2012-07-27 13:52] mpapis commented on #3
I will prepare new build of 1.0.2 with rails 3.2.7 and then release it to railsinstaller.org

[2012-08-02 17:51] mpapis commented on #3
new build uploaded and site is updated + deployed

[2012-08-02 17:51] #3 closed, assigned to mpapis

[2012-08-02 18:40] sini commented on #3
The download link for 10.7 does not work. The link for 10.6 does.

[2012-08-02 18:42] sini commented on #3
Also the Download The Kit button on railsinstaller.org is giving me the windows version, even though the page clearly says for OS X.

[2012-08-02 18:49] mpapis commented on #3
maybe there was something wrong with the upload, I have started the upload again, @ 2% now

[2012-08-02 19:48] mpapis commented on #3
seams to be fixed after reupload

[2012-08-03 23:04] mpapis opened #5 "uninstaller in applications"
move uninstaller to `/Applications` so it can be found easy

[2012-08-06 18:09] mpapis opened #6 "fix git / sm paths"
make sure `/etc/profile.d/sm.sh` points to `/opt/sm/...`

[2012-08-06 18:13] mpapis opened #7 "fix sm to use internal zsh"

[2012-08-07 17:24] aguynamedryan opened #8 "32-bit compatible build for 10.6?"
First off, thanks for the great work!  I love this project!

I tried running Rails Installer 1.0.2 osx for 10.6 on an old MacMini running an Intel Core Duo, which has a 32-bit instruction set.  Several of the executables (ruby and git at least) fail to run and report "Bad CPU Type" errors.  I assume they are built to run on 64-bit processors.

Is it possible to support 32-bit only processors?

[2012-08-07 17:35] mpapis commented on #8
32bit version would require additional compilation flags, and possibly code changes (framework) to support it, which is not yet planned but should be supported with RVM2 integration - this will take some time as it is on out list but quite low priority.

There is easier way - to build on 32bit machine, this should work without problems, but I do not have access to such machine. I could guide you t

[2012-08-27 03:42] #6 closed, assigned to mpapis

[2012-08-27 07:28] #7 closed, assigned to mpapis

[2012-08-29 07:45] #5 closed, assigned to mpapis

[2012-09-02 19:37] mpapis opened #9 "osx mountain lion - unidentified developer"
https://twitter.com/billpixby/status/240976796407959552

[2012-09-02 21:11] mpapis commented on #9
update, check can be disabled: https://twitter.com/billpixby/status/242367871529914368

[2012-09-11 14:34] mpapis opened #10 "fix quoting of rvm_configure_env in /etc/rvmrc for rvm 1.16"

[2012-10-14 20:29] yoshie902a opened #11 "Uninstaller?"
Is there an uninstaller for Rails installer on 10.7.4?

[2012-10-14 20:35] yoshie902a commented on #11
found it, thanks!

[2012-10-14 20:35] #11 closed, assigned to nobody

[2012-10-16 20:46] thejoecarroll commented on #10
Just ran into this. For the benefit of anyone else who reads this, the workaround for now is to manually fix the file to read as follows (thanks to @mpapis ): https://gist.github.com/0d2c94f0f1b0ddffdf1b

[2012-11-16 23:25] yenbryan commented on #8
I really enjoy using the rails installer as well. And would love to use the installer to install rails on my older macbook(32 bit machine). I was wondering could you post some kind of instructions over here... I'm sure we wont be the only ones wondering how to work the installation on a 32 bit machine! thanks!!!!

[2012-11-27 22:17] gstoss opened #12 "OSX Mountain Lion Bad : modifier in $ (/)"
I'm having trouble with the post-install step:

Error running sudo su spacewx -c 'bash -c "PATH=\"$PATH:/opt/sm/pkg/active/bin\" git config -- global user.name \"Greg Space\"" : Bad : modifier in $ (/).

What am I doing wrong? I have a previous version of ruby and rails installed on my Mac but no .rvm to blow away as some have suggested. I see no other hiccups during the install process.

[2012-11-28 13:02] Dan2552 commented on #10
same problem, cheers for the manual fix

[2012-12-12 05:26] mpapis opened #13 "no more free uploads on github"
https://github.com/blog/1302-goodbye-uploads

@drnic  - any proposals?

[2012-12-16 19:42] richard4339 opened #14 "Installer Taking 5+ Minutes To Open"
I'm running OSX 10.8.2 and just grabbed the latest version. After opening the bundled installer app, it prompts me to elevate the installer, the InstallBuilder splash screen opens and goes away, and then it literally sits there for 5 minutes before I get to the select language window. I killed it and reopened a few times, again quitting after 5 minutes. Finally, I rebooted, and the third time I ju

[2012-12-16 20:30] mpapis commented on #14
can you provide an image of the window that you mention?

[2012-12-16 21:15] richard4339 commented on #14
0 minutes in, InstallBuilder splash screen opens then closes almost immediately
![Screen Shot 2012-12-16 at 2 58 33 PM](https://f.cloud.github.com/assets/100804/15769/13449c16-47c5-11e2-8c9c-982a4741050c.png)

5 minutes in, filtered activity monitor shows two processes for RailsInstaller, one local and one as root
![Screen Shot 2012-12-16 at 3 03 31 PM](https://f.cloud.github.com/assets/100804/157

[2012-12-16 22:50] mpapis commented on #14
so it took 10 minutes just for the installer to initialize and show the dialog window?

[2012-12-17 01:23] richard4339 commented on #14
That is correct.

[2013-01-06 00:42] cczona opened #15 "Certain /usr/local/* items have group "rvm""
Michel Papis asked me to report this. Certain files & directories under my /usr/local/ have group named "rvm". New files in those directories also get assign group "rvm".

Affected:

/usr/local/.git
/usr/local/CONTRIBUTING.md
/usr/local/man
/usr/local/opt (only contains symlinks to homebrew celler items)
/usr/local/rvm

I'd briefly installed RailsInstaller OSX 4-6 months ago, to evaluate it for in

[2013-01-06 00:58] mpapis commented on #15
please include output of `ls -ld /usr/ocal` and make sure no other place is affected (like after `cd $HOME; touch test.txt`)

[2013-01-06 01:03] cczona commented on #15
$ ls -ld /usr/local
drwxr-xr-x  21 cczona  wheel   714B Jan  5 16:21 /usr/local/

$ cd $HOME; touch test.txt; ll test.txt
-rw-r--r--  1 cczona  admin     0B Jan  5 17:03 test.txt

[2013-01-06 01:09] mpapis commented on #15
so I assume if you run:

[code]

then this file get's into `rvm` group? (please show the outputs)

[2013-01-06 02:26] cczona commented on #15
<code>
$ cd /usr/ocal
$ touch test.txt
$ ll test.txt
-rw-r--r--  1 cczona  wheel     0B Jan  5 18:24 test.txt
</code>

[2013-01-06 02:28] cczona commented on #15
(Noticing "ocal" typo. Re-did for "local", same result)

[2013-01-16 09:31] jamiescript commented on #10
My file previously read like this...
rvm_configure_env=('LDFLAGS=-L/opt/sm/pkg/active/lib CFLAGS=-I/opt/sm/pkg/active/include CPATH=/opt/sm/pkg/active/include')
Note the single string and not separate strings as suggested in @thejoecarroll gist

Thanks!

[2013-01-19 19:33] jimross commented on #10
I am running into this same problem, but as a beginner I am not sure where to go to make these changes.

[2013-01-19 19:40] mpapis commented on #10
@jimross run:

[code]

and make sure to read all the outputs, hint: check for red color - it might be hard if you are colorblind.

[2013-01-19 19:42] Dan2552 commented on #10
@jimross edit /etc/rvmrc with your favorite text editor and replace the contents with the [gist's content](https://gist.github.com/0d2c94f0f1b0ddffdf1b)

[2013-01-19 19:54] jimross commented on #10
I ran 'rvm get head' and it gave me the follow which I was able to copy/paste to resolve the issue. Thanks!

[code]

[2013-01-19 20:43] jimross commented on #10
Just for future reference, how should I manually navigate to /etc.rvmrc on a Mac?  I've tried searching for it with finder, but that doesn't work.

[2013-01-19 20:57] Dan2552 commented on #10
you can change your Finder preferences to show your disk in the devices sidebar. Or in terminal you can type `open /etc` or even `open /etc/rvmrc` will just open the file straight in a textedit

[2013-01-19 22:42] jimross commented on #10
When I run 'open /etc/rvmrc' I get: The file /etc/rvmrc does not exist.

When I run 'open /etc' I see the etc folder, but no rvmrc file.

[2013-02-06 06:20] rnewman57 commented on #8
I tried to use rails installer on my 32-bit Snow Leopard Mac and ran into lots of problems.  If this is not supposed to work on a 32-bit machine, you should warn people on the download page, or the installer should warn as soon as it starts up.

[2013-02-12 04:17] anderskitson commented on #10
I get the same rvmrc does not esixst

[2013-02-12 06:27] mpapis commented on #10
try:

sudo sed -i'' -e "s#rvm_configure_env=('LDFLAGS=-L/opt/sm/pkg/active/lib CFLAGS=-I/opt/sm/pkg/active/include CPATH=/opt/sm/pkg/active/include')#rvm_configure_env=('LDFLAGS=-L/opt/sm/pkg/active/lib' 'CFLAGS=-I/opt/sm/pkg/active/include' 'CPATH=/opt/sm/pkg/active/include')#" /etc/rvmrc

[2013-02-14 16:56] Meekohi commented on #10
This bug ruined my day.

[2013-02-14 17:04] mpapis commented on #10
@Meekohi I'm working on a new version already, unfortunately I had to restore whole system and it takes more then expected

[2013-02-14 18:52] Meekohi commented on #10
Thanks mpapis ;) It happens -- just took me a while to track down this report and make the fix.

[2013-02-22 09:42] Bw00d commented on #10
Thanks, that did it for me.

[2013-02-22 22:37] tiinus commented on #10
Thanks! Creating /etc/rvmrc (it didn't exist on my machine) and inserting the lines above solved it for me. I'm now running 1.9.3p392!

[2013-02-22 23:14] mpapis commented on #10
@tiinus so you do not have Railsinstaller-OSX and it still solves your problem?

[2013-02-24 02:14] #10 closed, assigned to mpapis

[2013-02-24 08:56] mpapis commented on #14
please check with https://rvm.io/src/RailsInstaller-1.0.4-osx-10.6.app.tgz / https://rvm.io/src/RailsInstaller-1.0.4-osx-10.7.app.tgz - it was build with new version of installbuilder, the error could be fixed there already

[2013-02-26 07:25] DanielKehoe commented on #13
@mpapis please let know how this gets resolved so I can update my article to include the correct links for newer versions of RailsInstaller:
http://railsapps.github.com/installing-rails.html

[2013-03-05 02:01] WadeLaw opened #16 "Getting error message unon download finishing"
![Screen shot 2013-03-04 at 7 48 19 PM](https://f.cloud.github.com/assets/3289387/219595/73d8e798-8538-11e2-8092-f9b16a3c9fd4.png)

I am getting this error message once the downloader is finished. It allows me to click finish but it is not showing installed in the terminal when I follow through with that.

[2013-03-05 02:11] mpapis commented on #16
it looks like your system is not compatible with the installer (Intel 64bit), it's already reported as #8 - let me know if it's a different problem.

[2013-03-05 02:11] #16 closed, assigned to nobody

[2013-03-05 02:17] WadeLaw commented on #16
I don't know how it could possibly be not compatible I'm running OSX 10.6, Are there any other requirements?

[2013-03-05 02:38] mpapis commented on #16
The requirement is Intel 64 bit CPU, check https://discussions.apple.com/thread/3839981?start=0&tstart=0

[2013-03-08 19:18] emachnic commented on #9
Stupid Mountain Lion. I think we can effectively close this out.

[2013-03-08 19:29] mpapis commented on #9
I would leave it open until we can sign (or whatever) the binaries

[2013-03-08 19:34] emachnic commented on #9
Wouldn't that require us to be part of the Apple developer program?

[2013-03-08 19:46] mpapis commented on #9
Here is more details, although I do not use OSX often enough to understand it at first look => https://developer.apple.com/library/mac/#documentation/ToolsLanguages/Conceptual/OSXWorkflowGuide/DistributingApplicationsOutside/DistributingApplicationsOutside.html

[2013-03-11 04:44] heimann opened #17 "check for ~/.rvm"
Railsinstaller should check for ~/.rvm on installation and warn user that it will hide railsinstaller

[2013-03-13 18:43] mpapis commented on #17
extending the idea:
- if there is no RVM in system - install to $HOME
- if there is only one RVM -  install to it
- if there are multiple installation - ask user where to install

[2013-03-13 18:50] mpapis commented on #13
moved to S3 => http://railsinstaller.s3.amazonaws.com/list.html

[2013-03-13 18:50] #13 closed, assigned to mpapis

[2013-03-13 18:53] mpapis commented on #14
uploaded to S3 => http://railsinstaller.s3.amazonaws.com/list.html - please let me know if the error still exists

[2013-03-13 18:53] #14 closed, assigned to nobody

[2013-03-13 18:54] DanielKehoe commented on #13
Thanks! Updated the article.

[2013-03-13 18:54] mpapis commented on #15
this will be fixed with #17 when we default to `~/.rvm`

[2013-03-13 18:55] #15 closed, assigned to mpapis

[2013-03-13 18:57] mpapis commented on #13
it's not yet 2.0, the ruby-2.0 release will come in two weeks

[2013-03-21 23:23] emachnic opened #18 "Unable to change group for /opt to rvm"
# Summary

On a fresh OSX 10.8.3, I tried to run Railsinstaller but the installer was unable to change the group for /opt
## Expected behavior

I expected the installer to just finish properly like usual
## Actual behavior

I received an error that the installer was unable to change the group for `/opt` to "rvm"
## Steps to reproduce
- Use a fresh computer with 10.8.3; user has admin permissions

[2013-03-21 23:28] emachnic commented on #12
Hi @gstoss,

Can you give us any steps to reproduce this issue? What version of OSX are you running?

Thanks.

[2013-03-27 15:07] rollercomsolutions commented on #18
I Second This!

[2013-03-27 17:33] Albert-Liu commented on #18
Perhaps a hint at the cause or a workaround, I wrote at

https://groups.google.com/forum/#!msg/railsinstaller/J4_8prZHoVU/S1nfw3IciSMJ

Whatever the installer is doing (and/or perhaps a problem with OSX, 10.8.3 on my system), I encountered the following on the command line:

$ sudo chgrp rvm /opt/rix
chgrp: rvm: illegal group name

I was able to use the group id number to change successfully.  (Th

[2013-04-08 01:27] theCalibrius commented on #8
The installer should warn you about the CPU incompatibility part before trying to install and then only indicating a problem at the very end (without giving a hint as to why I might experience a problem)  eg.  "This install is only compatible with 64 bit machines, you have a 32 bit.  You can end the installation or continue with the possibility of it not working correctly."

[2013-04-11 16:59] goodburga commented on #12
Having the same issue here - I'm a newbie, but the installer makes it all the way through and then throws this error at the last second.

Any help would be appreicated.

[2013-04-11 17:24] emachnic commented on #12
@goodburga

Can you please give us any steps to reproduce it? What version of OSX are you running?

Thanks!

[2013-04-11 17:42] goodburga commented on #12
@emachnic

I basically downloaded the installer, ran the installer (put in full name and email for git) and then it completes all the way through the end of the progress bar, a dialogue box pops up with another progress bar, and then the error appears. I am running 10.8.2 on a new 2.3 Intel core i7.

Thanks for the help.

[2013-05-07 02:37] goodburga commented on #12
Any luck solving this one?

[2013-05-07 02:42] mpapis commented on #12
by any chance did you link `bash` to `zsh`? what version of bash is user `spacewx` using:

[code]

[2013-05-07 02:46] goodburga commented on #12
For me the version is GNU bash, version 3.2.48(1)-release (x86_64-apple-darwin12)
Copyright (C) 2007 Free Software Foundation, Inc.

[2013-05-07 03:06] #12 closed, assigned to nobody

[2013-05-07 03:06] mpapis commented on #12
this should fix it - but you will have to wait a bit to get it fixes, does it stop your deploy or just prints the message?

[2013-05-07 03:10] goodburga commented on #12
I am just getting started with Rails so it doesn't stop a deploy, just stops me from installing right away I guess :)

[2013-05-07 03:15] mpapis commented on #12
if it is just a message and the process continues - just ignore it.

if it fails at the warning use "poors man railsinstaller":

[code]

Although it requires "Command Line Tools for Xcode" from Apple installed before to success.

[2013-05-07 03:18] goodburga commented on #12
Ok cool - thanks for all your help - and for Rails Installer!

[2013-05-10 19:01] jlynch80 commented on #18
I did a clean install of OS X 10.8.3 Mountain Lion. I had this same issue. I installed Xcode and it's CLI tools. Did a restart, now all is well. Install went fine. Thanks.

[2013-05-16 05:31] macropin commented on #18
Yes, that is what was required here as well.

[2013-05-22 15:09] ghost commented on #18
Worked great, thanks for posting a solution. Got the error on a newly installed 1.8.3. Installed Xcode, restarted, ran the chgrp command line command, ran the rails installer.

[2013-05-25 22:36] ghost commented on #18
Encountered the same problem.  Had to restart Mac twice, then installer ran fine.

On another install with the same issue  I ran fix permissions, which corrected a whole slew of improper file ownerships.  Installer then ran fine.

[2013-05-29 02:21] mistydemeo opened #19 "Don't package osx-gcc-installer"
I noticed that when a Homebrew user was having some trouble installing things (in mxcl/homebrew#20087), they mentioned that Rails Installer distributes osx-gcc-installer on Mac. I wanted to suggest that it'd be better to look at alternatives.

There are a few problems with osx-gcc-installer, especially when using it on modern Mac versions:
- osx-gcc-installer is essentially a stripped-down version

[2013-05-29 03:10] mpapis commented on #19
CLT is the plan, the problem is that Apple has nasty licenses and we need approval from them to embed CLT in installer - without embedding or automating the download the whole idea of all in one installer is busted.

I have tried to get some kind of approval from two angles, but still waiting on it, as soon as we get it we will build new version of installer with CLT.

[2013-05-29 03:18] mistydemeo commented on #19
Aha, makes sense. I didn't know you were asking Apple about it.

Keep in mind that, since osx-gcc-installer is an unauthorized derivative of Xcode, it's not actually any more legal for you to include it without permission from Apple than it is to include the CLT.

(And given the problems osx-gcc-installer causes, you really might be better off telling people to download the CLT on their own - even

[2013-05-29 03:30] mpapis commented on #19
actually it is legal to use `osx-gcc-installer` all sources of the programs included in it are published because Apple is bound by the licenses of this programs - so yes we can use it as it's all legal - but it is not supported by Apple, that's another problem, as long as they do not give a license to use freely CLT (without registration) we will be forced to use other software that can provide co

[2013-05-29 03:55] mistydemeo commented on #19
osx-gcc-installer also includes many Apple system headers, not just external open source tools.

[2013-05-29 04:02] mpapis commented on #19
do you mean that there is anything more over http://www.opensource.apple.com/release/developer-tools-41/ ? do you have any pointers to what it is?

[2013-05-29 04:24] mistydemeo commented on #19
Yes - if you take a look at the file list, you'll find that it contains contents from many of the core frameworks in OS X, like CoreServices, etc.

osx-gcc-installer wasn't built from the source from Apple's developer site. It's just .pkg files ripped out of the Xcode 4.1 installer and tossed into a new one.

Here's the full list of files installed by osx-gcc-installer: https://gist.github.com/mis

[2013-05-29 05:17] mpapis commented on #19
what I understood from this article http://kennethreitz.com/xcode-gcc-and-homebrew.html from @kennethreitz is that all what's included in https://github.com/kennethreitz/osx-gcc-installer is available as opensource / free ... if it's not the case we can repackage excluding what's not should be in there for free distribution.

[2013-05-29 07:51] samueljohn commented on #19
Very interesting discussion.
All I can add is that the osx-gcc-installer really breaks a lot of builds these days :-(
Keep us updated @mpapis if you get approval from Apple. But I am not very hopeful due to their developer license you have to accept to download.

[2013-05-29 12:36] mistydemeo commented on #19
@kennethreitz is incorrect about that; regardless of not including the SDKs, he still has hundreds of the headers from those same frameworks, along with some associated proprietary Apple binaries, etc. For example, the comment at the top of AppleEvents.h from CoreServices as packaged in osx-gcc-installer:

[code]

All of these files are proprietary, Apple doesn't license them for any kind of redis

[2013-05-29 13:11] MikeMcQuaid commented on #19
Even then you can't just go stripping random binaries even if you know they are open-source; you really need to build them from sources yourselves and redistribute and repackage them. Even if/when you do that there's a bunch of stuff that will break as it expects the proprietary headers.

[2013-05-29 13:14] mistydemeo commented on #19
Also, keep in mind that while osx-gcc-installer specifically omits the SDKs, those don't come with the CLT to begin with. They're essentially the same package. Here's the list of what comes with osx-gcc-installer, according to `pkgutil --bom`:

[code]

Whereas the CLT comes with only these two packages:

[code]

The compilers are now directly a part of DeveloperToolsCLI; otherwise, DeveloperToolsC

[2013-05-29 13:17] mistydemeo commented on #19
Those headers are one of the two things causing problems with osx-gcc-installer, also - installing the Lion versions of the headers on Mountain Lion leads to mismatches with what's on the system, along with some of the headers the CLT _does_ install.

[2013-05-29 14:36] mpapis commented on #19
all I can say it's thanks to Apple, I will investigate legality of the osx-gcc-installer and will wait a bit for approval to use CLT, if Apple will not be able to cooperate then the only option for railsinstaller will be to build it's own toolchain as suggested by @mikemcquaid

[2013-05-29 14:45] MikeMcQuaid commented on #19
I think the ideal outcome for all parties would be Apple allowing redistribution of the CLT. We've tried there before and been unsuccessful but you're able to resolve that: great. Otherwise I'd suggest railsinstaller put it's own toolchain somewhere that only it finds (and not things like e.g. Homebrew).

[2013-05-30 07:17] samueljohn commented on #19
"I think the ideal outcome for all parties would be Apple allowing
redistribution of the CLT"

-> That would be wonderful.

[2013-05-30 17:18] kennethreitz commented on #19
Not going to happen :)

[2013-06-29 14:10] lafber commented on #18
Same here.

Fiw it by giving my user admin right (not sure it was part of the fix), reboot and installer works. Weird.

[2013-07-04 23:58] chadalderson commented on #18
Same here. Had a fresh copy of OS X 10.8.4 and got the following error during install: http://d.pr/i/bbte - installed Xcode, rebooted and it worked.

[2013-07-17 18:48] mistydemeo commented on #19
Ping! Have there been any updates here?

[2013-07-17 18:53] MikeMcQuaid commented on #19
Well, kinda. 10.9 now will auto-install the CLT (like it does with Java on 10.8) if you run something related to it. Would still be nice if we got a 10.8 and below solution that didn't screw with Homebrew.

[2013-07-17 18:53] mpapis commented on #19
Sorry I have no news yet, still waiting on response, maybe @emachnic can tell more, I have a fallback plan but no time to implement it.

[2013-07-17 18:53] kennethreitz commented on #19
10.9 has most of CLTs built-in.

[2013-07-17 18:54] mpapis commented on #19
oh, this is good news (10.9) will save a lot of time

[2013-07-17 18:55] kennethreitz commented on #19
Don't bother contacting apple or investigating, there is legal ambiguity in OSX-GCC-Installer. That's why it exists. Apple can't provide it outside of their lengthy contracts, so I've decided to.

[2013-07-17 18:55] MikeMcQuaid commented on #19
In addition, `osx-gcc-installer` is still distributing non-open source Apple headers, no? In that case it would be good for @mpapis and @kennethreitz to work out something that is legal and doesn't screw with Homebrew.

[2013-07-17 18:55] kennethreitz commented on #19
Also note that my repository does not include a license.

[2013-07-17 18:56] MikeMcQuaid commented on #19
@kennethreitz If there's a legal ambiguity why not just redistribute the CLT?

[2013-07-17 18:58] kennethreitz commented on #19
GCC-Installer predates CLT, and is actually why CLT exists. Apple has been working hard to make it as distributable as possible within their legal boundaries. Now it's built in w/ 10.9, so problem solved :)

[2013-07-17 19:02] MikeMcQuaid commented on #19
@kennethreitz The problem is that people still install the GCC-installer on 10.8 which breaks Homebrew and will continue to do so until we stop supporting 10.8 (which is at least 3 years away).

[2013-07-17 19:05] MikeMcQuaid commented on #19
@kennethreitz Would you consider removing the binaries for 10.7/10.8?

[2013-07-17 19:08] kennethreitz commented on #19
How does it break homebrew? I've never heard of this before. I've heard from dozens of people that the 10.7 versions works perfectly for 10.8.

[2013-07-17 19:08] mpapis commented on #19
@mikemcquaid maybe consider building "something" - your own binary bootstrapper for homebrew - that does not require compilation - I would be happy to use that instead

[2013-07-17 19:09] kennethreitz commented on #19
I was under the impression that that was the goal.

[2013-07-17 19:09] mpapis commented on #19
I wanted to do it as fallback - but I'm time limited

[2013-07-17 19:10] mistydemeo commented on #19
@kennethreitz The system headers in osx-gcc-installer are from 10.7. A clash with other headers on the system means that many packages that need to build against the system headers (for example, python and git) will fail to build with mysterious errors. A recent example is mxcl/homebrew#21287; it comes up very frequently.

Also, the very old clang build it includes chokes on a lot of C++.

[2013-07-17 19:12] kennethreitz commented on #19
Updated the readme.

[2013-07-17 19:24] emachnic commented on #19
I'm still working on the Apple Developer stuff internally to help with 10.7 and 10.8 issues. Will keep everyone up to date here as things progress.

[2013-07-17 20:03] MikeMcQuaid commented on #19
@emachnic If you care about not being suable by Apple you need to just point people to the CLT. If you don't care you should just redistribute the CLT.

[2013-07-19 20:59] schultyy opened #20 "Support for Rails 4"
Hi,

I am a coach at Rails Girls Berlin and we are currently migrating our tutorials to Rails 4. When do you plan to support Rails 4?

Best
Jan

[2013-07-19 21:27] mpapis commented on #20
I'm sorry but because of legal issues (see #19) we are on hold now.

You should try other approach which should give you wider platform coverage:

[code]

This will work on Linux and OSX, it detects package manager and uses it for installation of missing packages (that's why it asks for `sudo` password), on OSX you can pick which package manager should be used - read more about [autolibs](http://r

[2013-09-28 14:10] jsmm opened #21 "No rvm.sh nor sm.sh"
After installing/uninstalling, I get the following when opening a new terminal shell:

on ttys000
-bash: /etc/profile.d/sm.sh: No such file or directory
-bash: /etc/profile.d/rvm.sh: No such file or directory

Thanks for your support,

[2013-09-28 19:58] mpapis commented on #21
they both should be at the end of `/etc/profile` - we will fix it with next release

[2013-10-06 20:13] timbalzer opened #22 "In need of a OSX 10.9 Mavericks build."
No rush, just logging the issue in prep for the release.

[2013-10-06 21:21] mpapis commented on #22
we can work on it as soon as #19 gets fixed

[2013-10-18 16:54] JohnAtl opened #23 "Second step after running RailsInstaller: Could not detect ruby version/name for installation, please be more specific."
rvm install rbx,jruby
Could not detect ruby version/name for installation, please be more specific.

I had hope RI would take the pain out of installing.

How do I resolve this?

[2013-10-18 17:07] mpapis commented on #23
it should have worked, sounds like a bug in `rvm`, anyway this will be easier with [RVM 2 (Fundriser)](https://www.bountysource.com/fundraisers/489-rvm-2-0), current version was based on RVM 1. and was not flexible enough.

[2013-10-18 17:07] JohnAtl commented on #23
It seems rails was not installed either, as 'rails -v' advises me to install it with gem. Is this correct, or is there an RI/rvm specific command that I should use now?

[2013-10-18 17:28] mpapis commented on #23
start with basics of rvm:

[code]

[2013-10-18 18:08] JohnAtl commented on #23
I installed ruby 1.9.3 using:

[code]

Installed rails using:

[code]

(version 4, not sure if that's a problem)
SQLite3 runs at the prompt.
Hopefully, I'm in business.
Thanks.

[2013-10-18 18:13] mpapis commented on #23
1. you should not have to install ruby, railsisntaller comes with a ruby installed already
2. you should never use `sudo` this changes environment and basically disables rvm

[2013-10-18 18:22] JohnAtl commented on #23
That's what I was thinking too, but don't know of another way around these issues.
Should I run the uninstaller?
I'm open to suggestions.

[2013-10-18 18:32] mpapis commented on #23
start with answering my questions:

[code]

[2013-10-18 20:24] JohnAtl commented on #23
I didn't realize those were questions :-)
I uninstalled RailsInstaller, uninstalled Homebrew, uninstalled MacPorts, rebooted, reinstalled RailsInstaller, and it looks like I'm good to go. I haven't twiddled the bits in a while, which package manager do you recommend (MacPorts, Homebrew, etc.)?

The output you requested is below. Thanks for the help.

[code]

[2013-10-18 20:28] mpapis commented on #23
RailsInstaller comes with SM Framework installed, it is good for managing software, if you need to run multiple versions bellow 1.9.3, then I would advise Homebrew (as it supports installation of two openssl versions at once and ruby can be linked to each of them separatelly), otherwise you can use Macports the asam as SM Framework and Homebrew.

[2013-10-18 21:19] JohnAtl commented on #23
Thanks for the suggestion.

In working through a Rails tutorial, the author suggested "rvm get stable". When I ran it, I received the following error messages. (I just rebooted to ensure the environment was being set.)

[code]

I tried rvm get stable --auto-dotfiles, but it did not fix the PATH warning.

I used the --debug flag to list the 116 offending directories, here are the first few:

[code]

[2013-10-18 21:40] mpapis commented on #23
you might need to restart computer to get to the `rvm` group for real, OSX can report you are in the group and still not give it to you in the current session

[2013-10-19 13:28] JohnAtl commented on #23
Restarted, but have the same issues, except for the PATH, which I fixed.

[2013-10-19 17:46] mpapis commented on #23
please run:

[code]

and if it's still persists show me the current output with problems

[2013-10-20 13:57] JohnAtl commented on #23
Still have permissions problems. Here's the output. Thanks.

[code]

[2013-10-20 18:48] mpapis commented on #23
for now use `rvmsudo rvm get stable ; rvm reload` to continue, the permissions problem will be fixed in https://github.com/wayneeseguin/rvm/issues/2300

[2013-10-20 18:48] #23 closed, assigned to nobody

[2013-10-20 19:32] JohnAtl commented on #23
Thanks for the help and sticking with me!

Regards,
John

[2013-10-22 21:41] sgerrand commented on #19
:wave: Are there any updates on the progress of this issue?

[2013-10-22 21:47] mpapis commented on #19
no unfortunately EY was not able to get Apple developer license and stopped sponsoring me on the project, maybe @emachnic will have some news ... I will personally work on it but a lot later -when rvm 2.0 is in some basic minimum state (see: https://www.bountysource.com/fundraisers/489-rvm-2-0)

[2013-10-22 21:49] mpapis commented on #22
this can be done earlier, as far as I know mavericks comes with CLT preinstalled so there is no need to embed osx-gcc-installer.

[2013-10-22 21:55] mistydemeo commented on #19
10.9 includes a builtin CLT installer (triggered via `xcode-select --install`, or first invocation of tools like `git`), so you don't need to worry about distributing anything there.

[2013-10-22 21:56] MikeMcQuaid commented on #19
Considering 10.9 supports all hardware 10.7 and 10.8 do I'd not really worry about other platforms for new development, personally.

[2013-10-22 21:57] mpapis commented on #19
10.9 can be covered with #22, unfortunately there is still interest in getting RI on older versions and this ticket is here to cover it.

[2013-10-22 21:59] mistydemeo commented on #19
I would really recommend just telling users to download the installer from developer.apple.com/downloads - it's not much extra work, and it ensures they're getting the latest tools/headers.

[2013-10-22 22:04] mpapis commented on #19
it defies the purpose of single download that can handle all dependencies and is easy to use

[2013-10-22 22:08] MikeMcQuaid commented on #19
And having a single download for all versions of OSX defeats the point of the progress in later versions. As said earlier: just redistribute the CLT if you don't care about the licensing; osx-gcc-installer violates the licenses in the same way but with the added bonus of breaking a bunch of stuff like Homebrew for your users.

[2013-10-22 22:17] mpapis commented on #19
@mikemcquaid there is no single version, there are two versions right now, and most likely 3rd will be created for OSX 10.9.

Also can you point me to a claim from apple that it does violate it? https://github.com/kennethreitz/osx-gcc-installer states:

Because when downloading CLT there is a license which explicitly says you need ask apple to download it, as long as Apple does not have any issues

[2013-10-22 22:21] mistydemeo commented on #19
As stated earlier in this thread, osx-gcc-installer wasn't created from that source - it was taken from the Xcode .dmg, which had the very same license the CLT does now. And osx-gcc-installer does include proprietary Apple headers and tools.

[2013-10-22 22:26] mpapis commented on #19
please show me any apple claims against it, anything else then debugging the files

[2013-10-22 22:27] mistydemeo commented on #19
I'm not aware of Apple prosecuting anyone for redistributing the CLT either. That doesn't make either of them legal.

[2013-10-22 22:28] mpapis commented on #19
as said earlier this is more corporate stuff and I can not do much more personally, I expect @emachnic as a representative of EngineYard to get into resolving it.

[2013-10-23 00:21] emachnic commented on #19
I am still working on getting a company developer license but it just hasn't happened yet. I keep kicking the tires so hopefully there should be some more news soon.

[2013-11-02 21:26] rafalwojcik commented on #19
What about 10.9 version?

[2013-11-02 23:51] emachnic commented on #19
Ilewy what exactly is your question?

On Saturday, November 2, 2013, ilewy wrote:

##

##

_Evan B. Machnic_
_emachnic@gmail.com emachnic@gmail.com_
_Twitter:_ @emachnic
_Skype:_ emachnic

[2013-11-02 23:55] rafalwojcik commented on #19
RailsInstaller compatible with Mavricks (10.9)

[2013-11-03 00:01] emachnic commented on #19
I haven't had a chance to test it yet. If you have issues, create a GitHub
Issue.

On Saturday, November 2, 2013, ilewy wrote:

[2013-11-03 09:06] MikeMcQuaid commented on #19
Please use `xcode-select --install` in Rails Installer on 10.9.

[2013-11-08 13:24] celynch8 commented on #19
@mikemcquaid can you explain a little more what that means? Sorry - new to this.

[2013-11-08 13:29] MikeMcQuaid commented on #19
@celynch8 On 10.9 to install the compilers you no longer need an Apple Developer or App Store account. You can type `xcode-select --install` into a console and it will pop up a prompt which, if accepted, will download the Command Line Tools (which includes all the compilers you'd need for Rails).

[2013-11-08 14:08] celynch8 commented on #19
@mikemcquaid Thank you!!

[2013-11-28 20:57] saidmaadan opened #24 "Ruby on Rails Installation Error"
I was able to installed RailsInstaller on my Mac successfully but the issue is when i type rails --version in the Terminal to check if rails has been installed it returns this error: Rails is not currently installed on this system. To get the latest version, simply type: $ sudo gem install rails And I went ahead as its suggested i type sudo gem install rails and it returns another error: ERROR: Wh

[2013-11-29 03:26] mpapis commented on #24
restart your cpmputer and rails should appear in your console (unless you have `~/.rvm`)

[2013-11-29 06:52] saidmaadan commented on #24
Thx @mpapis! I have restart my computer several times still not working and as per whether i have rvm i think i have rvm installed because i have already installed Ruby (ruby 2.0.0p247 (2013-06-27 revision 41674) [x86_64-darwin13.0.0) by follow this video guide (http://teamtreehouse.com/library/ruby-foundations/ruby-basics/installing-ruby) before I even install RailsInstaller and i confirmed it i

[2013-11-29 07:06] mpapis commented on #24
`rvm list known` is only a static list for you to get overview what rubies can be used, more important is `rvm list`, also check `ls -ld ~/.rvm`

[2013-11-29 07:11] saidmaadan commented on #24
ls -ld ~/.rvm
drwxr-xr-x  30 MS  staff  1020 Nov 28 19:47 /Users/MS/.rvm

[2013-11-29 07:14] mpapis commented on #24
this means you have rvm already installed in user directory and it hides the system installation from railsinstaller, we have in plans a new version that will detect user installation and will install ruby and rails to the user installation, unfortunately this takes time.

for now you have two options, either remove the user installation `rm -rf ~/.rvm` or use it to install ruby and rails: `rvm us

[2013-11-29 07:14] #24 closed, assigned to nobody

[2013-11-29 07:43] saidmaadan commented on #24
@mpapis! Thanks for your help..I really appreciate

[2013-12-08 18:38] nedludd opened #25 "Source what?"
Just installed railsinstaller 1.0.4 on OSX 10.8.  I use zsh as my default shell.

Install went smoothly, but when I reopened my shell I got

[code]

Sure enough my "/etc/zprofile" had just "source" with no arguments in it.

I figure it needed

[code]

Am I right?

[2013-12-08 20:53] mpapis commented on #25
`source /etc/profile.d/rvm.sh` should be good

[2013-12-15 16:30] giancarlo3g commented on #19
I'm stuck for a couple of weeks with the same problem. I installed the osx-gcc-installer on 10.9 and not able to remove it correctly even with the uninstall-devtools -mode=all command or after reinstalling Xcode above it. It seems that for Hombrew, the Xcode installed is 4.1 that is the version of the osx-gcc-installer. Any clues on how can I tell brew that the new version is Xcode 5.0.2?

[2013-12-15 16:34] MikeMcQuaid commented on #19
You can't really tell Homebrew anything. You need to completely remove `osx-gcc-installer` or Homebrew will break randomly when building tools, unfortunately. This is why we wish `osx-gcc-installer` wasn't used.

[2013-12-15 16:49] giancarlo3g commented on #19
Right. The only problem is I can't get to fully remove the osx-gcc-installer. I'll keep trying.

[2013-12-16 16:55] MikeMcQuaid commented on #22
Anyone who installs osx-gcc-installer on Mavericks will overwrite system files and break e.g. `clang` putting it in an unrecoverable state without OS reinstall or backup restores. I recommend you fix this.

[2013-12-16 16:55] MikeMcQuaid commented on #19
Anyone who installs osx-gcc-installer on Mavericks will overwrite system files and break e.g. `clang` putting it in an unrecoverable state without OS reinstall or backup restores, it seems.

[2013-12-16 17:43] mistydemeo commented on #19
In 10.9, `/usr/bin/clang` and friends are now `xcselect` shims that call the real binaries from either `/Library/Developer/CommandLineTools` or `/Applications/Xcode.app/Contents/Developer`, as appropriate. osx-gcc-installer overwrites the shims with actual compilers. Looks like neither CLT install restores the shims (as they come with the OS), so installing the CLT over top still leaves the old cl

[2013-12-16 17:44] MikeMcQuaid commented on #19
Ping @kennethreitz for the latest updates here too.

[2013-12-16 17:59] mistydemeo opened #26 "Refuse to install on 10.9"
As discussed in #19 and https://github.com/Homebrew/homebrew/issues/25249, there are some serious issues installing railsinstaller on 10.9 - it leaves the developer tools in an inconsistent state that may not be restorable without Time Machine or an OS reinstall. Given this, if there is no 10.9 version of the railsinstaller package, railsinstaller should refuse to install on 10.9 at all.

[2013-12-16 17:59] MikeMcQuaid commented on #26
:+1:

[2013-12-31 20:34] BradleyRoss commented on #21
When I ran RailsInstaller, it did put the required lines at the end of /etc/profile.  However, I would like to make a few comments.

If you are going to have the script change /etc/profile, I feel that you should have the script add a comment to the file indicating when the change was made and why.  (MacPorts does something like this.)

I would personally prefer that changes be made to the .profil

[2013-12-31 20:48] mpapis commented on #21
@BradleyRoss so

1) adding comments - good point
2) `.profile` can not be used as long as we do not have movable rubies in installer and possibility to select installation of rvm and tools to `$HOME` - it is planned for next release and the user (in `$HOME`) installation should be default

[2014-03-27 23:15] mtheoryx commented on #19
In 10.9.2, xcode-select --install will do a fine enough job, avoiding license issues, prompting the user, and take care of everything.

[2014-05-22 15:09] azimpradhan commented on #19
I have mavericks and I already installed osx-gcc-installer to install command line tools. Now when I try to upgrade to ruby 2.1.1 from ruby 1.9.2 it appears, I get all kinds of errors related to an outdated version of clang. I suspect this is because of osx-gcc-installer
------------------------------------------------------------------------------------------------------------------------------.

[2014-05-22 15:33] mistydemeo commented on #19
Hi, @azimpradhan,

The only foolproof way I'm aware of to restore the commandline tools on 10.9 after installing osx-gcc-installer is to reinstall the OS.

[2014-05-22 15:38] mtheoryx commented on #19
I believe that running this int Terminal.app should launch a CLI tools install dialog:

xcode --select-install

##

David Poindexter
Sent from my mobile

[2014-05-22 15:42] mistydemeo commented on #19
That won't work in this case.

10.9 comes with shims for the commandline tools in /usr/bin. The real commandline tools are installed into /Library/Developer/CommandLineTools/. When the commandline tools are installed, the xcode path gets updated so the shims will call the CLT versions instead.

What's happened here is that osx-gcc-installer overwrote the shims, and the CLT install does _not_ insta

[2014-05-23 16:14] azimpradhan commented on #19
Thanks @mistydemeo , I was hoping it wouldn't have to come to this, but I guess i'll have to reinstall the OS to upgrade ruby 2.1.1 and rails 4.

[2015-11-11 14:46] timbalzer commented on #22
Closing this issue as it really isn't relevant anymore. :smile:

[2015-11-11 14:46] #22 closed

[2016-01-05 09:31] wongzigii opened #28 "Any source to install for OS X Capitan 10.11?"

[2016-01-06 01:40] #28 closed